<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>File Upload</title>

    <link rel="stylesheet" href="/assets/application.css"/>
</head>
<body>
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            <li><a href="">File Uploader Sample</a></li>
        </ul>
    </nav>
    <h1></h1>

    <div class="uk-container uk-container-center">
        <div id="upload-drop" class="uk-placeholder uk-text-center">
            <i class="uk-icon-cloud-upload uk-icon-medium"></i>
            Please drop a file here, or
            <a class="uk-form-file">select one<input id="upload-select" type="file"/></a>.
        </div>

        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">0%</div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/application.js"/>
</body>
</html>
